<div class="card">
  <h4> Posts x Person</h4>
  <p-table [paginator]="true" [rows]="5" #dt [value]="data" [globalFilterFields]="['autor','email', 'posts']">
    <ng-template pTemplate="caption">
    <div class="p-d-flex">
        <span class="p-input-icon-right p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
        </span>
    </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Autor</th>
            <th>Email</th>
            <th>post</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
        <tr>
            <td>{{post.autor}}</td>
            <td>{{post.email}}</td>
            <td>{{post.posts}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>
